<!doctype html>
<html lang="en">

{% load static %}


<head>
  <title>ACWise</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

  

</head>

<body>
  <header>
    <div class="px-5 ms-xl-4">
      <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
      <span class="h1 fw-bold mb-0">ACWise</span>
    </div>
  </header>
  <main>

    <section class="vh-100" id="barra">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6 text-black">

            

            <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-1 pt-xl-0 mt-xl-n5">

              <form action="/autenticacion/" style="width: 23rem;" method="POST"> {% csrf_token %}

                <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Log in</h3>

               

                  <div class="form-outline mb-4">
                    <input type="email" name="email" class="form-control form-control-lg" />
                    <label class="text" for="email">Correo Electronico</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" name="Contraseña" class="form-control form-control-lg" />
                    <label class="form-label" for="Contraseña">Contraseña</label>
                  </div>                

                  <div class="pt-1 mb-4">
                    
                    <input type="submit" class="btn btn-info btn-lg btn-block" value="INGRESO" >

                  </div>

                  <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Olvido la contraseña?</a></p>
                  <p>No esta registrado? <a href="registro/" class="link-info">Registrate aqui</a></p>


                  

               

              </form>

            </div>

          </div>
          <div class="col-sm-6 px-0 d-none d-sm-block">
           
            <img src='{% static "img/visual.jpg" %}' alt="Login image" class="w-100 vh-100">

          </div>
        </div>
      </div>
    </section>
    
  </main>
  <footer>
    <br>

    <figure class="text-center">
      <blockquote class="blockquote">
        <p>Taller de programacion 2</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        Programado por <cite title="Source Title">Juan Camilo Muñoz Ospina</cite>
      </figcaption>
    </figure>
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>

    

</body>

</html>