{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>ACWise</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

   

</head>

<body>
    <header>
        <div class="px-5 ms-xl-4">
            <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
            <span class="h1 fw-bold mb-0">ACWise</span>
        </div>
    </header>
    <main>

        <section class="vh-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 text-black">

                        

                        <br><br>

                        <div class="d-flex align-items-center custom-3 px-5 ms-xl-4 ">

  
                            <form action="/prueba/" style="width: 23rem;" method="POST"> {% csrf_token %}

                               

                                <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Registro de usuarios</h3>

                                <div class="form-outline mb-4">
                                    <input type="form-label" name="Primer_Nombre" class="form-control form-control-lg"  minlength="5" maxlength="100" />
                                    <label class="form-label" for="Primer_Nombre">Primer Nombre</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="form-label" name="Segundo_Nombre" class="form-control form-control-lg" minlength="5" maxlength="100"/>
                                    <label class="form-label" for="Segundo_Nombre">Segundo Nombre</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="form-label" name="Primer_Apellido"
                                        class="form-control form-control-lg" minlength="5" maxlength="100"/>
                                    <label class="form-label" for="Primer_Apellido">Primer Apellido</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="form-label" name="Segundo_Apellido" class="form-control form-control-lg" minlength="5" maxlength="100"/>
                                    <label class="form-label" for="Segundo_Apellido">Segundo Apellido</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="form-label" name="Empresa" class="form-control form-control-lg" minlength="5" maxlength="100" />
                                    <label class="form-label" for="Empresa">Empresa</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="email" name="email" class="form-control form-control-lg" />
                                    <label class="text" for="email">Correo Electronico</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" name="Contraseña" class="form-control form-control-lg" />
                                    <label class="form-label" for="Contraseña">Contraseña</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" name="Contraseña2" class="form-control form-control-lg" />
                                    <label class="form-label" for="Contraseña2">Confirmar contraseña</label>
                                </div>



                                <select class="form-select mb-4" aria-label="Default select example" name="rol">
                                    <option selected>Rol</option>
                                    <option value="Usuario">Usuario</option>
                                    <option value="Tecnico">Tecnico</option>
                                    <option value="Supervisor">Supervisor</option>
                                </select>

                                <div class="pt-1 mb-4">
                                    

                                    <input type="submit" class="btn btn-info btn-lg btn-block" value="Registrar" id="registrar"> 
                                    <a type = "button" href="/" class="btn btn-info btn-lg btn-block">Regresar</a> 

                                       
                                </div>

                            </form>

                        </div>

                    </div>


                    <div class="col-sm-6 text-black">


                        
                        <img src='{% static "img/visual.jpg" %}' >

                    </div>




                </div>



            </div>
        </section>



    </main>



    <footer>
    
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>

      
</body>

</html>